body{
    height: 100%;
    color: #fefefe;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #1a1e27;
    gap: 10vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inputBox-container{
    text-align: center;
    border: 1px #1b85bd solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    width: 20vw;
    height: 98vh;
    background-color: #181c24;
}

.inputBox-buttons{
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
    place-content: center;
}

.resultBox-container{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.sscc-container{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px #1b85bd solid;
    width: 40vw;
    height: 17vh;
    background-color: #fefefe;
}

._hidden{
    display: none;
}
